
@{
    ViewBag.Title = "addvenue";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    td
    {
        padding-top:10px;
        padding-left:10px;
    }
</style>
<script type="text/javascript">
    function check() {
        if (document.getElementById("venue").value == "") {
            alert("Please enter the venue name");
            return false;
        }
        return true;
    }
</script>
@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>Enter a new Venue name :</td>            
            <td><input type="text" name="venue" id="venue"></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Add Venue" onclick="return check()" /></td>
        </tr>
    </table>
}

