
@{
    ViewBag.Title = "homepage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>
    Our Main aim is to ensure technology is used to its best to serve mankind. It is a state of the art collaboration for a noble cause "blood donation" with technology. Under this initiative, the technology will be used to book appointments for donors and find all the donors details.
</h3>
<br />
<br />

<img src="~/images/blooddonation.jpg" style="width:500px;height:500px" />